* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --slate-color-0: #FFFFFF;
  --slate-color-50: #F8FAFC;
  --slate-color-100: #F1F5F9;
  --slate-color-200: #E2E8F0;
  --slate-color-300: #CBD5E1;
  --slate-color-400: #94A3B8;
  --slate-color-500: #64748B;
  --slate-color-600: #475569;
  --slate-color-700: #334155;
  --slate-color-800: #1E293B;
  --slate-color-900: #0F172A;

  --lime-color-400: #A3E635;

}

.dark {
  --bg-color: var(--slate-color-900);
  --text-color: var(--slate-color-400);
  --title-color: var(--slate-color-0);
  --subtitle-color: var(--slate-color-100);

  --line-stroke-color: var(--slate-color-700);
  --surface-color: var(--slate-color-800);
  --surface-color-hover: rgb(255, 255, 255, 0.02);
  --highlight-color: var(--lime-color-400);
}

html, body {
  font-size: 1.6rem;
  background: var(--bg-color);
  color: var(--text-color);
}

body {
  max-width: 100vw;
}

#app {
  width: 100%;
  min-width: 33.6rem;
  margin: 0 auto;
  padding: 2rem 2rem 3.2rem;
  /* border: 1px solid red; */
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
  color: inherit;

  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}


/* HEADER */
.title {
  color: var(--title-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

header h4 {
  margin-top: .8rem;
}

.bag-shopping {
  position: relative;
  padding: 1.2rem;

  transition: opacity .3s;
}

.bag-shopping::before {
  position: absolute;
  content: '1';
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1.1rem;
  font-weight: 700;

  width: 1.4rem;
  height: 1.4rem;
  border-radius: 20rem;
  background: var(--lime-color-400);
}

.bag-shopping:hover {
  opacity: 0.7;
}

.line {
  width: 100%;
  border-top: 1px solid var(--line-stroke-color);
  margin: 2rem 0;
}

/* MAIN */
main {
  display: grid;
  gap: 3.2rem;
}

nav {
  width: calc(100vw - 2rem);
}

nav ul {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  display: flex;
  gap: 1.2rem;
  padding: 2px;
}

nav ul::-webkit-scrollbar {
  display: none;
}

li a {
  display: inline-block;
  background-color: var(--surface-color);
  border-radius: .6rem;
  padding: 1.2rem 1.6rem;
}

li a:focus {
  outline: 2px solid #A3E635;
}

/* SECTIONS PRODUCtS */
#products {
  width: 33.6rem;
  height: calc(100vh - 22rem);
  /* white-space: nowrap; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* border: 1px solid red; */
}

#products::-webkit-scrollbar {
  display: none;
}

.section-products + .section-products{
  margin-top: 3.2rem;
}

.section-products dl {
  margin-top: 1.2rem;
  display: grid;
  gap: 1.6rem;
}

.section-products .card-item {
  display: flex;
  gap: 1.2rem;
}

.card-item img {
  width: 9.2rem;
  height: 9.2rem;
  border-radius: .6rem;
}

.card-info {
  width: 23rem;
  padding: 4px 0;
}

.card-info .title {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.card-info p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 2px;
  overflow: hidden;
}

/* QUERIE */
@media (min-width: 768px) {
  #products {
    width: calc(100vw - 6rem);
    /* border: 1px solid red; */
  }

  .section-products dl {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

@media (min-width: 1240px) {
  .section-products dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
}