 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 :root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --slate-color-50: #F8FAFC;
  --slate-color-100: #F1F5F9;
  --slate-color-200: #E2E8F0;
  --slate-color-300: #CBD5E1;
  --slate-color-400: #94A3B8;
  --slate-color-500: #64748B;
  --slate-color-600: #475569;
  --slate-color-700: #334155;
  --slate-color-800: #1E293B;
  --slate-color-900: #0F172A;

  --lime-color-400: #A3E635;
}

html, body {
  width: 100%;
  height: 100%;

  font-size: 1.6rem;
  border: 1px solid yellow;
}

body {
  background: var(--slate-color-700);
}

main {
  padding: 2rem;
  max-width: 64rem;
  margin: 0 auto 6.4rem;
  border: 1px solid red;
}

#hits {
  background: var(--lime-color-400);
  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 1.2rem;
}