.line {
  width: 100%;
  border-top: 1px solid var(--line-stroke-color);
  margin: 2rem 0;
}

/* MAIN */
main {
  display: grid;
  gap: 3.2rem;

  border: 1px solid green;
}

/* SECTIONS PRODUCtS */
#products {
  width: 33.6rem;
  height: calc(100vh - 22rem);
  /* white-space: nowrap; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* border: 1px solid red; */
}

#products::-webkit-scrollbar {
  display: none;
  margin-top: 3.2rem;
}

.section-products + .section-products{
  margin-top: 3.2rem;
}

