.line {
  width: 100%;
  border-top: 1px solid var(--line-stroke-color);
  margin: 2rem 0;
}

/* MAIN */
main {
  /* border: 1px solid green; */
  height: 100%;                        /* para falta de suporte */  
  height: -webkit-calc(100% - 7.2rem);  /* para Chrome */
  height: -moz-calc(100% - 7.2rem);     /* para Firefox */
  height: calc(100% - 7.2rem);
  
  padding-bottom: 3.2rem;/* para suporte nativo */
}

/* SECTIONS PRODUCtS */
.products {
  /* width: 33.6rem; */
  /* height: calc(100vh - 22rem); */
  /* white-space: nowrap; */
  /* border: 1px solid orange; */

  overflow: overlay;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
  height: 100%;                        /* para falta de suporte */  
  height: -webkit-calc(100% - 7.4rem);  /* para Chrome */
  height: -moz-calc(100% - 7.4rem);     /* para Firefox */
  height: calc(100% - 7.4rem);          /* para suporte nativo */

  margin-top: 3.2rem;
}

.products::-webkit-scrollbar {
  display: none;
}

